body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a.navbar-brand img {
  height: 40px;
}
.navbar
{
  z-index: 999;
  background: -webkit-linear-gradient(left, #0072ff, #8811c5)!important;
}
#carouselExampleControls
{
  /* margin-top: -100px; */
  z-index: 99;
}
.card{
  margin: 10px;
  padding: 0px;
}

.video-fluid {
  width: 100%;
  height: auto;
  margin-top: -5%;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  top: 0;
  margin-top: 20%;
  font-weight: 900;
}
.carousel-fade .carousel-item.active, .carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: auto!important;
  opacity: 1;
}
.logo-slide{
  margin-top: -100px;
  margin-bottom: 20px;
}
.animated.fadeInDown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.pl-0, .px-0 {
  padding-left: 0 !important;
  max-width: 900px;
}
.h3-responsive{
  font-size: 4rem!important;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
  border: 1px solid #ffcd00!important;
  height: 50px;
  
  }
.lime.lighten-2 {
    background-color: #ffcd00!important;
}
.carousel::before {
  position: relative;
  /* margin-bottom: 500px; */
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(bottom, #ffffff00, #007bff45);
  opacity: 0.9;
}
footer{
  height: 40px;
  background-color: black
}



.note
{
    margin-top: 50px;
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

/**Edit travel*/
.cabecera {
  height: 500px;
  background-size: cover;
  background-position: center;
}



