{{#if perfecto}}
    <p class="alert alert-primary"> {{perfecto}}</p>
{{/if}}
<form class="container" action="/users/edit/{{userData.id}}" method="post"">
    <div class="form-group">
        <h1>Nombre:{{userData.name}}</h1>
        <h2>Email:{{userData.email}}</h1>
    </div>
    <div class="form-group">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="admin" name="admin"  {{#if userData.rol }}checked{{/if}}>
            <label class="custom-control-label" for="admin">Admin</label>
        </div>
    </div>
    <div class="form-group">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="active" name="active" {{#if userData.active }}checked{{/if}}>
            <label class="custom-control-label" for="active">Active</label>
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>