<h1></h1>

<form class="container">
    <div class="form-group">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="admin" name="admin">
            <label class="custom-control-label" for="admin">Admin</label>
        </div>
    </div>
    <div class="form-group">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="active" name="active">
            <label class="custom-control-label" for="active">Active</label>
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>