{{#if error}}
    <p>ERROR: {{error}}</p>
{{/if}}
<form action="/users/login" method="post" class="container">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" placeholder="email" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
    </div>
    {{#if req.session.name}} 
        {{req.session.name}}
    {{else}}
        <button type="submit" class="btn btn-primary">Login </button>
    {{/if}}
</form>
