<div class="container login-form">
<form action="/users/password/recovery" method="post" class="form">
    <div class="note">
            <p>Recupera Password</p>
    </div>
    <div class="form-content">
            <div class="row">
                 <div class="col-md-12">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
                    </div>
                </div>
            </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
</div>