<div class="container login-form">
<form action="/users/password/forgot/" method="post" class="form">
    <div class="note">
            <p>Recupera Password</p>
    </div>
    <div class="form-content">
            <div class="row">
                 <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="email" required>
                    </div>
                </div>
            </div>
        <button type="submit" class="btn btn-primary">Recuperar</button>
    </div>
</form>
</div>