{{#if error}}
    <div class="alert alert-danger" role="alert">
         ERROR: {{error}}
    </div>
{{/if}}
{{#if perfecto}}
    <div class="alert alert-primary" role="alert">
        Aviso: {{perfecto}}
    </div>
{{/if}}
<div class="container register-form">
    <form class="form" action="/users/register" method="post">
        <div class="note">
            <p>Registro nuevo usuario</p>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="email" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="password" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
</div>