<section class="container-fluid">
    <form action="add" method="post" enctype="multipart/form-data">
        <input type="text" class="form-control" name="destino" placeholder="destino" id=""  required>
        <input class="form-control" type="date" name="fecha_salida" id="fecha_salida" required>
        <input class="form-control" type="date" name="fecha_llegada" id="fecha_llegada" required>
        <input class="form-control" type="number" name="precio" id="precio" placeholder="Precio" required>
        <input class="form-control" type="number" name="descuento" id="descuento" placeholder="Descuento" required>
  
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="file" id="customFileLang" lang="es" multiple>
            <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Travel">
    </form>
</section>




{{!-- <form action="/multer/upload" method="post" enctype="multipart/form-data">
 File: <input type='file' name='file'/>
 <input type="submit" value="Submit">
</form> --}}