<section class="container-fluid">
    <form action="add" method="post">
        <input type="text" class="form-control" name="destino" placeholder="destino" id="">
        <input class="form-control" type="date" name="fecha_salida" id="fecha_salida">
        <input class="form-control" type="date" name="fecha_llegada" id="fecha_llegada">
        <input class="form-control" type="number" name="precio" id="precio" placeholder="Precio">
        <input class="form-control" type="number" name="descuento" id="descuento" placeholder="Descuento">

        <div class="custom-file">
            <input type="file" class="custom-file-input" name="ruta_img" id="customFileLang" lang="es">
            <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Travel">
    </form>
</section>