{{dataTravel.id}}

{{!-- <div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{#each listImages}}
                <img src="/upload/{{url}}" alt="Fotografía" class="swiper-slide">
                {{/each}}
            </div>
    
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div> --}}
<div class="cabecera" style="background-image: url(/upload/{{mainImage}});">
  
</div>
