{{dataTravel.id}}


    {{!-- <div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{#each listImages}}
                <img src="/upload/{{url}}" alt="Fotografía" class="swiper-slide">
                {{/each}}
            </div>
    
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div> --}}





 <div class="your-class">
    {{#each listImages}}
                <div clas="slick-slide" ><img src="/upload/{{url}}" alt="Fotografía" class="swiper-slide"></div> 
                {{/each}}
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
      
    });
  </script>